// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.submit_button{
    width: 100px !important;
}

.confirm_submit{
    width: 150px !important;
}

.caution{
    color: red;
}

.image{
    height: 100px;
}

th{
    border-bottom: 1px solid black;
}

.reservations_introduction{
    width: 30%;
}

.link{
    text-decoration: none;
}

header{
    background-color: #202f55;
    max-width: 100%;
    margin-bottom: 0;
    height: 115px;
}

headerContain{
    display: flex;
    justify-content: space-between;
}

.headerButtons{
    display: flex;
}

.headerButton{
    display: flex;
    margin-right: 20px;
}

.headerButton li{
    list-style: none;    
}

.header_logo_area{
  width: 300px;
}

.header_image{
    width: 100%;
    margin-top: 30px;
}

.FirstView{
    background-image: url("https://rails-02-sample.herokuapp.com/assets/home/cover-lg.jpg");
    height: 700px;
}

.FirstViewTitle{
    text-align: center;
    color: white;
    font-size: 100px;
    padding-top: 50px;
}

.RecommendAreas{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

.top_user_image{
    height: 50px;
    margin-top: 25px;
}

.rooms_search{
    display: block;
    text-align: center;
    margin-top: 50px;
}

input[type="text"] {
    width: 300px;
    height: 40px;
}

input[type="submit"] {
    width: 50px;
    height: 40px;
}

#user_name{
    color: white;
    font-size: 25px;
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
}

#header_menu div {
    position: relative;
    color: white;
  }
  
  span {
    cursor: pointer;
  }
  
  ul {
    background-color: white;
  }

  li{
    padding-right: 30px;
  }

  .triangle{
    font-size: 50%;
    margin-top: 12px;
    margin-left: 5px;
  }

  .dropdown_btn{
    display: flex;
    padding-top: 25px;
  }

  .dropdown_btn :hover{
    cursor: pointer;
  }

  .login a{
    color: white;
    font-size: 30px;
    margin-top: 30px;
  }

  .newAccount a{
    color: white;
    font-size: 30px;
    margin-top: 30px;
  }

.delete_button{
    color: blue;
    background-color: white;
    border:none
}